# 1. Reverse the following tuple
    aTuple = (10, 20, 30, 40, 50,60)
    Expected output:
        (60,50, 40, 30, 20, 10)

In [1]:
aTuple = (10, 20, 30, 40, 50,60)

In [5]:
print(aTuple)

(10, 20, 30, 40, 50, 60)

# 2. display value 20 from the following tuple
    aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [7]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [8]:
print(aTuple[1][1])

20

# 3. Unpack the following tuple into 4 variables
    aTuple = (10, 20, 30, 40)

In [9]:
aTuple = (10, 20, 30, 40)

In [10]:
a, b, c, d = aTuple

In [11]:
print(a, b, c, d)

10 20 30 40

# 4. Swap the following two tuples
    tuple1 = (11, 22)
    tuple2 = (99, 88)
    Expected output:
        tuple1 = (99, 88)
        tuple2 = (11, 22)

In [12]:
tuple1 = (11, 22)
tuple2 = (99, 88)

In [14]:
tuple1, tuple2 = tuple2, tuple1

In [15]:
print(tuple1, tuple2)

(99, 88) (11, 22)

# 5. Copy element 44 and 55 from the following tuple into a new tuple
    tuple1 = (11, 22, 33, 44, 55, 66)
    Expected output:
        tuple2: (44, 55)

In [16]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [25]:
tuple2 = tuple1[3:5]

In [26]:
print(tuple2)

(44, 55)

# 6. Modify the first item (22) of a list inside a following tuple to 200
    tuple1 = (11, [22, 33], 44, 55)
    Expected output:
        tuple1: (11, [200, 33], 44, 55)

In [27]:
tuple1 = (11, [22, 33], 44, 55)

In [32]:
tuple1[1][0] = 200

In [33]:
print(tuple1)

(11, [200, 33], 44, 55)